body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #222160, #2d12de);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  width: 320px;
}

.glass-card h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.glass-card span {
  color: #ffc107;
}

.glass-card p {
  font-size: 14px;
  margin-bottom: 30px;
  opacity: 0.8;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 12px;
  background-color: #ffc107;
  color: #5431bd;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #ffdd57;
}

.btn.secondary {
  background-color: #ffffff;
  color: #432dbe;
}

.btn.secondary:hover {
  background-color: #f0f0f0;
}
.pass-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.info {
  text-align: left;
}

.photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 12px;
  margin: 5px auto;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.9);
  color: #2e0775;
  outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #999;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #111;
}
